DATABASE_URL="postgresql://postgres.ewbmwiywcvjpmudhpdgv:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.ewbmwiywcvjpmudhpdgv:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

# Opcional para criar uma conta demo ao rodar npm run db:seed.
SEED_USER_EMAIL="demo@financas.local"
SEED_USER_PASSWORD="demo123"
